html
head
	title Login
	meta(charset="utf8")
body
	form(method="post", action="/authLogin")
		label Usuario
		input(type="text", name="usuario")
		label Contraseña
		input(type="password", name="contrasena")
		input(type="submit", value="Ingresar")