<div id="mensajes">

</div>

<fieldset>
    <legend>Chat</legend>

    <form>
        <label for="txtMensaje">Ingrese un mensaje</label>
        <input type="text" id="txtMensaje" name="txtMensaje" />
        <input type="button" id="btnEnviar" value="Enviar mensaje" />
    </form>


</fieldset>