<div id="mensajes">

</div>

<fieldset>
    <legend>Usuarios por Sala</legend>

    <form>
        <label for="txtNombreSala">Ingrese el nombre de la sala</label>
        <input type="text" id="txtNombreSala" name="txtNombreSala" />
        <input type="button" id="btnUsuariosSala" value="Listar" />
    </form>
</fieldset>

<fieldset>
    <legend>Listar Salas a las que estoy unido</legend>

    <form>
        <input type="button" id="btnListarUnido" value="Listar" />
    </form>
</fieldset>


<fieldset>
    <legend>Enviar mensaje a Sala</legend>

    <form>
        <label for="txtSalaEspecifica">Ingrese el nombre de la sala</label>
        <input type="text" id="txtSalaEspecifica" name="txtSalaEspecifica" /><br/>
        <label for="txtMensajeSala">Ingrese el mensaje</label>
        <input type="text" id="txtMensajeSala" name="txtMensajeSala" /><br/>
        <input type="button" id="btnEnviarSala" value="Enviar mensaje a sala" />
    </form>
</fieldset>

<fieldset>
    <legend>Abandonar Sala</legend>

    <form>
        <label for="txtSalaAbandonar">Ingrese el nombre de la sala</label>
        <input type="text" id="txtSalaAbandonar" name="txtSalaAbandonar" />
        <input type="button" id="btnAbandonar" value="Abandonar" />
    </form>
</fieldset>

<fieldset>
    <legend>Unirse a sala</legend>

    <form>
        <label for="txtUsuario">Ingrese el nombre de usuario</label>
        <input type="text" id="txtUsuario" name="txtUsuario" />
        <label for="txtSala">Ingrese el nombre de la sala</label>
        <input type="text" id="txtSala" name="txtSala" />
        <input type="button" id="btnUnirseSala" value="Unirse a sala" />
    </form>
</fieldset>


<fieldset>
    <legend>Enviar mensaje</legend>
    <form>
        <label for="txtMensaje">Ingrese mensaje asi mismo</label>
        <input type="text" id="txtMensaje" />
        <input type="button" id="btnEnviarMensajeAMi" value="Enviar mensaje" />
    </form>
</fieldset>