html
	head
		meta(charset="utf8")
	body
		h1 #{titulo}
		form(method="post", action="/")
			fieldset
				div
					input(type="text",name="titulo",placeholder="Título de película", required)
				div
					input(type="numeric",name="anno",placeholder="Año de la película",required)
				div
					input(type="submit",value="Grabar")